LDL.Client/Service References/LDLService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" />
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="macAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="LoginResult" nillable="true" type="q1:SysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetUserResult" nillable="true" type="q2:SysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetUserListResult" nillable="true" type="q3:ArrayOfSysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="user" nillable="true" type="q4:SysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="user" nillable="true" type="q5:SysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetUserFunctionResult" nillable="true" type="q6:ArrayOfSysUserFunction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLoginLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLoginLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetUserLoginLogResult" nillable="true" type="q7:ArrayOfSysUserLoginLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunctionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunctionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetFunctionListResult" nillable="true" type="q8:ArrayOfSysFunction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="function" nillable="true" type="q9:SysFunction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFunctionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="function" nillable="true" type="q10:SysFunction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFunctionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFunctionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunctionByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunctionByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetFunctionByRoleResult" nillable="true" type="q11:ArrayOfSysFunction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParameterTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParameterTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetParameterTypeListResult" nillable="true" type="q12:ArrayOfSysParameterType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParameterListByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParameterListByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetParameterListByTypeResult" nillable="true" type="q13:ArrayOfSysParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="parameter" nillable="true" type="q14:SysParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertParameterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteParameterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="parameter" nillable="true" type="q15:SysParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParameterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetRoleListResult" nillable="true" type="q16:ArrayOfSysRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="role" nillable="true" type="q17:SysRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="role" nillable="true" type="q18:SysRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleFunctionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleFunctionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetRoleFunctionListResult" nillable="true" type="q19:ArrayOfSysRoleFunction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="lstNewRoleFunction" nillable="true" type="q20:ArrayOfSysRoleFunction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleFunctionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetDepartmentListResult" nillable="true" type="q21:ArrayOfCoDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="dept" nillable="true" type="q22:CoDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="dept" nillable="true" type="q23:CoDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetSiteListResult" nillable="true" type="q24:ArrayOfCoSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="site" nillable="true" type="q25:CoSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="site" nillable="true" type="q26:CoSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDestinationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDestinationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetDestinationListResult" nillable="true" type="q27:ArrayOfCoDestination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDestination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="destination" nillable="true" type="q28:CoDestination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDestinationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDestination">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDestinationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDestination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="destination" nillable="true" type="q29:CoDestination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDestinationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetEmployeeListResult" nillable="true" type="q30:ArrayOfCoEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q31:CoEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetEmployeeByDepartmentResult" nillable="true" type="q32:ArrayOfCoEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="employee" nillable="true" type="q33:CoEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployeeWithUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="employee" nillable="true" type="q34:CoEmployee" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="user" nillable="true" type="q35:SysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployeeWithUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="employee" nillable="true" type="q36:CoEmployee" />
        <xs:element minOccurs="0" name="delUser" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="employee" nillable="true" type="q37:CoEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetCustomersListResult" nillable="true" type="q38:ArrayOfCoCustomers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="customers" nillable="true" type="q39:CoCustomers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="customers" nillable="true" type="q40:CoCustomers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetCarListResult" nillable="true" type="q41:ArrayOfCoCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="car" nillable="true" type="q42:CoCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="car" nillable="true" type="q43:CoCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetDriverListResult" nillable="true" type="q44:ArrayOfCoDriver" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDriver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="driver" nillable="true" type="q45:CoDriver" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDriverResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDriver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDriverResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDriver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="driver" nillable="true" type="q46:CoDriver" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDriverResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockGoodsBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockGoodsBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetStockGoodsBySiteResult" nillable="true" type="q47:ArrayOfStockGoods" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockGoodsRegisterBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockGoodsRegisterBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetStockGoodsRegisterBySiteResult" nillable="true" type="q48:ArrayOfStockGoodsRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStockGoodsRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="objRegister" nillable="true" type="q49:StockGoodsRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStockGoodsRegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockGoodsRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockGoodsRegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockGoodsProvideBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockGoodsProvideBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetStockGoodsProvideBySiteResult" nillable="true" type="q50:ArrayOfStockGoodsProvide" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStockGoodsProvide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="objProvide" nillable="true" type="q51:StockGoodsProvide" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStockGoodsProvideResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockGoodsProvide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockGoodsProvideResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockWaybillBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockWaybillBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetStockWaybillBySiteResult" nillable="true" type="q52:ArrayOfStockWaybill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockWaybillRegisterBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockWaybillRegisterBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetStockWaybillRegisterBySiteResult" nillable="true" type="q53:ArrayOfStockWaybillRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStockWaybillRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="objRegister" nillable="true" type="q54:StockWaybillRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStockWaybillRegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockWaybillRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockWaybillRegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockWaybillProvideBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockWaybillProvideBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetStockWaybillProvideBySiteResult" nillable="true" type="q55:ArrayOfStockWaybillProvide" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStockWaybillProvide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="objProvide" nillable="true" type="q56:StockWaybillProvide" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStockWaybillProvideResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockWaybillProvide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockWaybillProvideResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteMainList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteMainListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetQuoteMainListResult" nillable="true" type="q57:ArrayOfQuoteMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteMainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetQuoteMainResult" nillable="true" type="q58:QuoteMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteMainRelationByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteMainRelationByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetQuoteMainRelationByIDResult" nillable="true" type="q59:ArrayOfQuoteMainRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteExpressionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteExpressionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetQuoteExpressionByIDResult" nillable="true" type="q60:ArrayOfQuoteExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuoteMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="quoteMain" nillable="true" type="q61:QuoteMain" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="quoteMainRelation" nillable="true" type="q62:ArrayOfQuoteMainRelation" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="quoteExpression" nillable="true" type="q63:ArrayOfQuoteExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuoteMainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuoteMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuoteMainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuoteMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="quoteMain" nillable="true" type="q64:QuoteMain" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="quoteMainRelation" nillable="true" type="q65:ArrayOfQuoteMainRelation" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="quoteExpression" nillable="true" type="q66:ArrayOfQuoteExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuoteMainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWaybillInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="waybillInfo" nillable="true" type="q67:WaybillInfo" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="lstWaybillGoods" nillable="true" type="q68:ArrayOfWaybillGoods" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWaybillInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstWaybillCodeBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="site" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstWaybillCodeBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFirstWaybillCodeBySiteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaybillInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaybillInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetWaybillInfoResult" nillable="true" type="q69:ArrayOfWaybillInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaybillGoods">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="waybillCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaybillGoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetWaybillGoodsResult" nillable="true" type="q70:ArrayOfWaybillGoods" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteExpressionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteExpressionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetQuoteExpressionListResult" nillable="true" type="q71:ArrayOfQuoteExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteMainRelationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteMainRelationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/LDLWCFService.EF" minOccurs="0" name="GetQuoteMainRelationListResult" nillable="true" type="q72:ArrayOfQuoteMainRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>